div, p{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: solid 2px black;
}

.box1{
    background-image: linear-gradient(to top right, red, green, blue);
}

.box2{
    background-image: linear-gradient(-70deg, purple 75%, yellow);
}

p {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(0,0,0,50%));
}

.box3{
    background-image: radial-gradient(circle at center, blue, pink);

}

.box4{
    background-image: repeating-radial-gradient(black, white 10px);
}

.box4:hover{
    background-image: repeating-radial-gradient(white, black 10px);
}

